.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0px;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  column-gap: 32px;
  color: #5E5E5B;
}

footer {
    margin-top: auto; /* Pushes footer to the bottom if content is short */
    width: 100%;
}