nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  column-gap: 32px;
  color: #5E5E5B;
  text-align: center;
}


.user-dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 45px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    width: 120px;
}

.dropdown-menu button {
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
}


.auth-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
}

.btn-secondary {
    background: black;
    border: 1px solid #ccc;
    padding: 8px 12px;
    cursor: pointer;
    color: white;
}

.btn-primary {
    background: black;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}


